---
http_interactions:
- request:
    method: post
    uri: https://www.thetrainline.com/api/journey-search/
    body:
      encoding: UTF-8
      string: '{"passengers":[{"id":"pid-0","dateOfBirth":"1992-03-04","cardIds":[]}],"cards":[],"transitDefinitions":[{"direction":"outward","origin":"urn:trainline:generic:loc:7630","destination":"urn:trainline:generic:loc:10493","journeyDate":{"type":"departAfter","time":"2025-03-12T14:00:00+00:00"}}],"type":"single","maximumJourneys":10,"includeRealtime":true,"transportModes":["mixed","coach"],"directSearch":false,"composition":["through","interchangeSplit"],"autoApplyCorporateCodes":false}'
    headers:
      Content-Type:
      - application/json
      X-Version:
      - 4.41.30458
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Conversationid:
      - dweb-5a01af0d-8319-4fbc-b348-33600b7257f6
    body:
      encoding: UTF-8
      string: '{"data":{"journeySearch":{"passengers":{"pid-0":{"id":"pid-0","dateOfBirth":"1992-03-04T00:00:00"}},"journeys":{"journey-69043dda-09a9-4f6a-afad-4f5e3e96f861":{"sections":["section-a87f7d41-05ff-48ba-a0ed-22d21b04bf54"],"id":"journey-69043dda-09a9-4f6a-afad-4f5e3e96f861","direction":"outward","legs":["leg-2ee83347-3ad6-4f6b-bafd-603d03d96290","leg-659e3583-e899-4652-816e-3236585ac58f"],"departAt":"2025-03-12T14:52:00+01:00","arriveAt":"2025-03-12T19:59:00+01:00","duration":"PT5H7M","hash":"eyW6bzBaO8E=","hasFirstClassRecommendedStationPair":false,"distanceInKm":0},"journey-0daf47c4-9ea9-4e6d-b4b2-7ab7484137af":{"sections":["section-27b71e03-c45f-463a-9d7a-5de72fbf6d0e"],"id":"journey-0daf47c4-9ea9-4e6d-b4b2-7ab7484137af","direction":"outward","legs":["leg-1269f71b-eb8d-4a33-b81e-c6271316f0f4"],"departAt":"2025-03-12T15:00:00+01:00","arriveAt":"2025-03-12T22:45:00+01:00","duration":"PT7H45M","hash":"bdjn4xd9P+o=","hasFirstClassRecommendedStationPair":false,"distanceInKm":0},"journey-889a55d7-2871-4314-849d-8d6cdfcf036f":{"sections":["section-a982ae34-30[...]
