---
http_interactions:
- request:
    method: get
    uri: https://www.thetrainline.com/api/locations-search/v2/search?locale=en-GB&searchTerm=Berlin%20Hbf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - 1.0, 2.0, 3.0
    body:
      encoding: UTF-8
      string: '{"searchLocations":[{"name":"Berlin Hbf","countryCode":"DE","code":"urn:trainline:generic:loc:7630","score":0.018507855,"longitude":13.3695,"latitude":52.5256,"extraInfo":{"attributes":["MainStation","BusStation","category:train"]},"locationType":"station","defaultLanguage":"en","parent":{"locationType":"city","name":"Berlin"},"timezone":"Europe/Berlin","connections":["urn:trainline:connection:benerail","urn:trainline:connection:benemoove","urn:trainline:connection:db","urn:trainline:connection:db_affiliate","urn:trainline:connection:db_pst","urn:trainline:connection:distribusion","urn:trainline:connection:obb","urn:trainline:connection:pao_sncf"]},{"name":"Berlin
        Hbf (Europaplatz)","countryCode":"DE","code":"urn:trainline:generic:loc:17583","score":7.297154E-05,"longitude":13.3691,"latitude":52.5262,"extraInfo":{"attributes":["category:train"]},"loc[...]
