---
http_interactions:
- request:
    method: get
    uri: https://www.thetrainline.com/api/locations-search/v2/search?locale=en-GB&searchTerm=Warszawa-Centralna
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - 1.0, 2.0, 3.0
    body:
      encoding: UTF-8
      string: '{"searchLocations":[{"name":"Warszawa-Centralna","translatedName":"Warsaw","countryCode":"PL","code":"urn:trainline:generic:loc:10493","score":0.0016644888,"longitude":21.0032,"latitude":52.2289,"extraInfo":{"attributes":["MainStation","category:train"]},"locationType":"station","defaultLanguage":"en","parent":{"locationType":"city","name":"Warszawa","translatedName":"Warsaw"},"timezone":"Europe/Warsaw","connections":["urn:trainline:connection:benerail","urn:trainline:connection:benemoove","urn:trainline:connection:db","urn:trainline:connection:db_affiliate","urn:trainline:connection:db_pst","urn:trainline:connection:obb","urn:trainline:connection:pao_sncf"]}]}'
  recorded_at: Mon, 10 Mar 2025 05:42:46 GMT
recorded_with: VCR 6.3.1
